1. Manejo de cadenas

In [4]:
cadena="Universidad Nacional Tecnológica de Lima Sur"
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [5]:
# Universidad Nacional Tecnológica de Lima Sur
#01234.........................-2 -1

In [6]:
cadena[5]

'r'

In [7]:
cadena[21]

'T'

In [8]:
cadena[5:22]

'rsidad Nacional T'

In [9]:
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [10]:
cadena.lower()

'universidad nacional tecnológica de lima sur'

In [11]:
cadena.split()

['Universidad', 'Nacional', 'Tecnológica', 'de', 'Lima', 'Sur']

In [12]:
cadena.split("a")

['Universid', 'd N', 'cion', 'l Tecnológic', ' de Lim', ' Sur']

In [13]:
nombre="Flor Cerdán"
print("Buenos días "+nombre)

Buenos días Flor Cerdán

In [14]:
edad=18
print("Hola {}, ya sé que tienes {} años.".format(nombre,edad))

Hola Flor Cerdán, ya sé que tienes 18 años.

In [21]:
resultado = 10/3
print("10/3 es = {}".format(resultado))
print("10/3 es = {r:1.7f}".format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.3333333

In [22]:
print(f"Buenos dias {nombre}, ya sé que tienes {edad} años")

Buenos dias Flor Cerdán, ya sé que tienes 18 años

In [31]:
print(f"10/3 es = {resultado:1.3f}")

10/3 es = 3.333

In [32]:
print("¿Cuál es tu nombre?")
nombre=input()
print("Hola, "+nombre)

¿Cuál es tu nombre?
Gaaa
Hola, Gaaa

In [38]:
print("numero1: ")
numero1=input()
print("numero2: ")
numero2=input()
numero3=numero1+numero2
print("El resultado es= {numero3}.format)

numero1:
5
numero2:
7
El resultado es= 57

#####